@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


/*universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*global*/
body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
}

#header-img{
    width: 120px;
    margin: 1.2% 1%;
    padding: 0;
    max-width: 100%;
    height: auto;
}
header .container{
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #65687e7e;
    box-shadow: 0px 4px 8px -3px #000000;
    border-radius: 5px;
    width: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    z-index: 1;
    max-width: 100%;
    height: auto;
}
#nav-bar{
    float: right;
    margin: 2.4% 1%;
}
#nav-bar li{
    display: inline;
    padding: 0 15px 0 15px;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 1.1rem;
}
a:hover{
    color:#fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: none;
    padding: 5% 10%;
    color: #fff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown a{
    text-decoration: none;
    color: #303030;
    font-size: 1.1rem;
  }
  .dropdown li{
    list-style: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
@media only screen and (max-width: 600px) {
    #nav-bar{
        display: none;
    }
    .dropdown{
        display: inline;
        float: right;
    }
  }


/*1st section*/
#first-section{
   background-color: #2b83cc;
   vertical-align: middle;
    color: #fff;
    padding: 12% 5%;
    display: flex;
    /*background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;*/
    background: rgb(145,191,228);
background: linear-gradient(90deg, rgba(145,191,228,1) 9%, rgba(43,131,204,1) 55%, rgba(9,58,99,1) 90%);
    
}
@media(max-width: 800px) {
    #first-section{
        display: block;
        width: 100%;
    }
    .content{
        width: 100%;
    }

}
@media(max-width: 600px) {
    #first-section{
        display: block;
    }
}
@media(min-width: 800px) {
    .main-img{
        width: 50%;
    }
}
.content{
    flex: 50%;
}
.main-img{
    width: 700px;
    max-width: 100%;
    height: auto;
    position: static;
    
}
@media(max-width:800px){
    #first-section{
        display: block;
        text-align: center;
    }
    .content{
        text-align: justify;
        margin: auto;
        width: 95%;
    }
    .main-img{
        margin:auto ;
    }
}
#first-section h1{
    margin: 0;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    margin: 10px 0;
}
@media only screen and (max-width: 600px){
    #first-section h1{
        font-size: 3rem;
    }
}
#first-section p{
    font-size: 20px;
    margin: 1% 0;
}
#email{
    background-color: #fff;
    color: #000;
    padding: 1.5% 4%;
    box-sizing: border-box;
    border: none;
    border-radius: 0.4rem;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
}
#submit{
        background-color:#FFB319;
        border: 2px solid #FFB319;
        border-radius: 0.4rem;
        cursor:pointer;
        color:#eee;
        font-size:15px;
        font-weight: bold;
        padding:1.2% 2.2%;
        display: block;
}

.submit:hover {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.4rem;
    color: #fff;
}
.submit:active {
    position:relative;
    top:1px;
}


/*feature*/
#feature{
    background-color: #2b83cc;
    padding: 2% 5%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    flex-direction: row;
    background: rgb(43,131,204);
    background: linear-gradient(0deg, rgba(43,131,204,1) 31%, rgba(145,191,228,1) 51%, rgba(255,255,255,1) 80%);
    background: rgb(43,131,204);
    background: linear-gradient(360deg, rgba(43,131,204,1) 50%, rgba(255,255,255,1) 50%);
}

.icon{
    margin: 1%;
    margin-bottom: 2%;
}
.feature-box{
    padding: 2% 1%;
    background-color: #093a63;
    background-color: #FFB319;
    color: #fff;
    margin: 0 1%;
    border-radius: 5px;
    /*box-shadow: 0px 5px 8px -2px #303030 ;
    backdrop-filter: blur(10px); */
      
    position: static;
}
@media only screen and (max-width: 400px) {
    #feature {
        flex-wrap: wrap;
    }
    .feature-box{
        flex: 100%;
        margin: 2%;
    }
  }
  @media (min-width:401px) and (max-width: 800px) {
    .feature-box{
        flex: 40%;
        margin: 2%;
    }
    #feature {
        flex-wrap: wrap;
    }
  }
  /*about*/
#about{
    display: flex;
    padding: 3.5% 5%;
    background-color: #fff;
    color: #000
}
.about-image{
    flex: 50%;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
    margin: auto;
}
.about-content{
    flex: 50%;
    margin: auto;
    font-size: 1.2rem;
    align-self: center;
}
@media(max-width:800px){
    #about{
        display: block;
        margin: auto;
        text-align: justify;
    }
    .about-content{
        width: 95%;
    }
}
h1{
    font-size: 2.5rem;
}

/*sevices*/
#services{
    text-align: center;
    padding: 3.5% 5%;
    background-color: #2b83cc;
    
    color: #fff;
}

.service{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.service-img{
    flex: 30%;
    align-self: center;
    margin: 2% 0;
}
.service-content-odd, .service-content-even{
    flex: 40%;
    align-self: center;
    margin: 2% 0;
}
.srvc-img{
    width: 80%;
    margin: 0;
}
.service-content-odd{
    text-align: left;
}
.service-content-even{
    text-align: right;
}
h2{
    font-size: 1.8rem;
}
p{
    font-size: 1.2rem;
}

@media(max-width:800px){
    #services{
        text-align: center;
    }
    .service{
        display: block;
        margin:auto;
        text-align: center;
        width: 95%;
    }
    .service-content-odd, .service-content-even{
        text-align: justify;
    }
}

@media screen and (max-width: 800px) {
    .service { display: flex; flex-flow: column; }
    .service-img{ order: 1; }
    .service-content-even { order: 2 }
    .service-content-odd { order: 2 }
}
.back{
    width: 300px;
}



.video-form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3.5% 5%;
    background-color: #fff;
    color: #000;
}



/*video*/
.video h2{
    text-align: center;
}

.video{
    flex: 50%;
    text-align: center;
    align-self: center;
}
#video{
    width: 100%;
    height: 250px;
    max-width: 100%;
    border-radius: 10px;
}

/*form*/
.getquote{
    flex: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-self: center;
}
.getquote form{
    width: 80%;
    border-radius: 10px;
    background: #fff;
    padding-right: 1rem;
}
.form-inner{
    background: #2b83cc;
    margin: auto;
    padding: 4%;
    border-radius: 10px;
    text-align: center;
}
.form-inner h2{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #fff;
}
.form-inner input, textarea{
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: #d0dfe8;
    outline: none;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.form-inner textarea {
    resize: none;
}
.form-inner button {
    width: 60%;
    background-color:#FFB319;
    border: 2px solid #FFB319;
    border-radius: 0.4rem;
    cursor:pointer;
    color:#eee;
    font-size:15px;
    font-weight: bold;
    padding:2.5%  2%;
    display: block;
    margin: auto;
}



@media(max-width:900px){
    .video-form{
        display: block;
    }
    .video{
        margin-bottom: 10%;
    }
    #video{
        width: 75%;
        height: 250px;
        max-width: 100%;
    }
}
/*contact*/
#contact{
    background-color: #2b83cc;
    color: #fff;

    padding: 3.5% 5% 2%;
}
.contact-logo{
    width: 150px;
    max-width: 100%;
    height: auto;
}
.contact-details{
    width: 60%;
}
#socials{
    position: fixed;
    width:max-content;
    left: 97%;
    color: #fff;
    padding: 11px;
    border-radius: 10px;
    background-color: #65687e7e;
    box-shadow: 0px 4px 8px -3px #000000;
    backdrop-filter: blur(10px);
    max-width: 100%;
    margin-right: 1px;
}

footer{
    background-color: #2b83cc;
    color: #fff;
    text-align: right;
    padding: 2% 5%;
}
footer p, a{
    font-size: 13px;
}
footer a{
    text-decoration: underline;
}
@media(max-width:750px){
    .contact-details{
        width: 100%;
    }
}
